form{
    margin: 0;
}

.align-items-center {
    margin-bottom: 25px;
}
label{
    display: block;
}
.check-label{
    position: absolute;
    left: 7%;
}
.form-check-input {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 3em;
}
.form-group:last-child{
    margin: 0 0 40px;
}
.align-items-center {
    margin-bottom: 0;
}
.btn-group.add-button{
    margin-bottom: 22px
}
